<footer class="footer">
    <div class="container">
        <div class="footer__body">

            <a class="footer__logo" href="/">
                <img src="img/logo-light.svg" width="184" height="49" alt="Новости Казахстана - Капитал.кз">
            </a>
            <ul class="footer__menu">
                <li><a class="link" href="#">Пользовательское соглашение</a></li>
                <li><a class="link" href="#">Контакты</a></li>
                <li><a class="link" href="#">Размещение рекламы</a></li>
                <li><a class="link" href="#">Редакция</a></li>
            </ul>
            <div class="footer__informers">
                <div>
                    <img src="img/zero.jpg" alt="">
                </div>
                <div>
                    <img src="img/yandex.jpg" alt="">
                </div>
            </div>

            <div class="footer__copyrights">Центр деловой информации Kapital.kz — информационное агентство,
                информирующее о
                событиях в экономике, бизнесе и финансах в Казахстане и за рубежом. При работе с материалами Центра
                деловой
                информации Kapital.kz разрешено использование лишь 30% текста с обязательной гиперссылкой на источник.
                При
                использовании полного материала необходимо разрешение редакции. Редакция Kapital.kz не всегда разделяет
                мнения авторов статей. При нарушении условий размещения материалов редакция делового портала имеет право
                на
                решение спорных моментов в законодательном порядке
            </div>
        </div>
    </div>
</footer>


