<header class="header">
    <div class="container">
        <div class="header__body">

            <div class="header__currency currency">
                <div class="currency__graf"></div>
                <div class="currency__body">
                    <div class="currency__item">
                        <div class="currency__name">Usd</div>
                        <div class="currency__price">378.93₸</div>
                        <div class="currency__count up">+1.05</div>
                    </div>
                    <div class="currency__item">
                        <div class="currency__name">Eur</div>
                        <div class="currency__price">421.00₸</div>
                        <div class="currency__count up">+0.23</div>
                    </div>
                    <div class="currency__item">
                        <div class="currency__name">Rub</div>
                        <div class="currency__price">5.63₸</div>
                        <div class="currency__count up">+0.05</div>
                    </div>
                    <div class="currency__item">
                        <div class="currency__name">BRENT</div>
                        <div class="currency__price">$72.16</div>
                        <div class="currency__count up">-0.33</div>
                    </div>
                    <div class="currency__item">
                        <div class="currency__name">BTC</div>
                        <div class="currency__price">$7549.25</div>
                        <div class="currency__count up">-100.65</div>
                    </div>
                </div>
                <a href="#" class="currency__arrow"></a>
            </div>
            <a class="header__logo" href="#">
                <img src="img/logo.svg" width="287" height="76" alt="Новости Казахстана - Капитал.кз">
            </a>
            <div class="header__find">
                <form class="header__search search-header" method="get" action="/search">
                <input class="search-header__input" id="search-input" type="text" name="q" placeholder="Поиск">
                <button class="search-header__btn" type="submit" title="Найти новости" id="search-btn"></button>
            </form>
                <div class="header__social social-header">
                <div class="social-header__title">Всегда на связи</div>
                <div class="social-header__body">

                    <a href="https://www.facebook.com/kapital.kz/" class="social-header__link facebook"></a>

                    <a href="https://twitter.com/Kapitalkz" class="social-header__link twitter"></a>

                    <a href="https://t.me/kapitalkz" class="social-header__link telegram"></a>

                    <a href="https://www.instagram.com/kapital.kz/" class="social-header__link instagram"></a>

                    <a href="https://vk.com/kapitalkz" class="social-header__link vkontakte"></a>

                </div>
            </div>
            </div>

            <div class="header__nav nav">
                <div class="nav__wrapper">
                    <ul class="nav__menu">
                        <li class="nav__item"><a class="nav__link" href="#">Лента новостей</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Экономика</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Финансы</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Государство</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Мир</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Персоны</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Бизнес</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Назначения</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Досье</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Недвижимость</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Технологии</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Lifestyle</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Спецпроекты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

