<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="description" content="➲ Актуальные казахстанские и мировые новости на деловом портале Kapital.kz. Все самые главные новости Казахстана и мира в сфере экономики, финансов, бизнеса. ">
<meta name="keywords" content="">
<meta name="author" content="Максим Карачёв">
<!-- Twitter Card data -->
<meta name="twitter:site" content="Деловой портал Капитал.кз">
<meta name="twitter:title" content="Деловой портал Капитал.кз">
<meta name="twitter:description" content="Деловой портал Kapital.kz - последние новости Казахстана и мира в сфере экономики, бизнеса, финансов
                  и высоких технологий в РК и за рубежом. А также информация по кадровым перестановкам, опросы, блоги
                  экспертов на деловом портале Казахстана капитал.кз">
<meta name="twitter:image" content="">

<!-- Open Graph data -->
<meta property="og:title" content="Деловой портал Капитал.кз">
<meta property="og:type" content="article">
<meta property="og:url" content="https://kapital.kz">
<meta property="og:image" content="">
<meta property="og:description" content="Деловой портал Kapital.kz - последние новости Казахстана и мира в сфере экономики, бизнеса, финансов
                  и высоких технологий в РК и за рубежом. А также информация по кадровым перестановкам, опросы, блоги
                  экспертов на деловом портале Казахстана капитал.кз">
<meta property="og:site_name" content="Деловой портал Капитал.кз">
<meta property="og:locale" content="ru_RU">

<meta name="apple-mobile-web-app-title" content="Karachyov Maxim">
<meta name="application-name" content="Karachyov Maxim">
